<nav class="relative z-10 mb-8 overflow-x-auto">
  <div class="flex items-center justify-center text-center py-4 overflow-x-auto">
    <a class="text-sm md:text-base mx-3 ease-in-out duration-200 hover:text-[#ed4e50] font-bold" aria-current="page" href="/">Home</a>
    <%= link_to "Contact", contact_path, class: "text-sm md:text-base mx-3 ease-in-out duration-200 hover:text-[#ed4e50] font-bold"  %>
    <%= link_to "About", about_path, class: "text-sm md:text-base mx-3 ease-in-out duration-200 hover:text-[#ed4e50] font-bold"  %>
      <% if Current.user %>
      <div class="hidden md:flex">
        <%= link_to Current.user.email, edit_password_path, class: "underline" %>
      </div>
      <%= button_to "Logout", logout_path, class: "text-sm md:text-base mx-3 ease-in-out duration-200 hover:text-[#ed4e50] font-bold", method: :delete %>
    <% else %>
      <%= link_to "Sign In", sign_in_path, class: "text-sm md:text-base mx-3 ease-in-out duration-200 hover:text-[#ed4e50] font-bold" %>
      <%= link_to "Sign Up", sign_up_path, class: "text-sm md:text-base mx-3 ease-in-out duration-200 hover:text-[#ed4e50] font-bold" %>
    <% end %>
  <div>
</nav>